.statsSection {
  font-weight: 700;
  margin: 4rem 0;
}

.statsSection h2 {
  color: var(--opoBlack);
  font-size: 2rem;
}

.statsHeading {
  background-color: var(--opoWhiteSmoke);
  margin-top: 2.5rem;
}

.statsSection h3 {
  font-size: 1rem;
  text-align: center;
}

.statsPopout p {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.3rem;
}

.red {
  color: var(--opoRed);
}

.map {
  margin-left: 7.875rem;
  margin-top: 5rem;
}
