.selectState {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  line-height: 2;
  margin: auto 2rem;
}

.selectInput {
  width: 20rem;
  z-index: 1002;
}
