.main .background {
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 5rem;
  height: 452px
}
.state .background {
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 480px;
  margin: 0px -15px;
}

.main .copy {
  width: 50%;
  padding: 4rem;
}

.state .copy {
  background-color: var(--opoWhiteSmoke);
  margin-top: 20rem;
  opacity: 0.9;
  padding: 1.5rem;
}

@media (max-width: 700px) {

  .state {
    margin: 0;
  }

  .main {
    margin: 1rem 0;
  }

  .main .background {
    justify-content: flex-end;
    margin: 0;
  }

  .main .copy {
    width: 100%;
    padding: 1rem;
  }
}