.main .background {
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 3rem;
  height: 452px;
}

.state .background {
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 480px;
  margin: 0px -15px;
}

.main .copy {
  width: 50%;
  padding: 4rem;
}

.state .copy {
  background-color: var(--opoWhiteSmoke);
  margin-top: 20rem;
  opacity: 0.9;
  padding: 2rem;
}

.stateHeader {
  margin-bottom: 1rem !important;
  border-bottom: none !important;
}

@media (max-width: 800px) {
  .state {
    margin: 0;
  }

  .main {
    margin: 1rem 0;
  }

  .main .background {
    justify-content: flex-end;
    margin: 0;
  }

  .main .copy {
    width: 100%;
    padding: 1rem;
    background-color: var(--opoWhiteSmoke);
    opacity: 0.9;
  }

  .mainHeader {
    margin-left: 1rem;
    padding-top: 2rem;
  }
  .stateHeader {
    margin-left: 0;
  }
}
