:root {
  --red: #d43c37 !important;
  --yellow: #ffb042 !important;
  --black: #373737 !important;
  --darkgray: #c4c4c4 !important;
  --lightgray: #f3f3f3 !important;
  --teal: #00768f !important;
}

* {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 3.4rem;
  font-weight: bold;
  color: var(--black);
  line-height: 1.15;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--black);
  line-height: 1.35;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--black);
  line-height: 1.4;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--red);
  line-height: 1.4;
}

p {
  font-size: 1.3rem;
  color: var(--black);
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

a {
  color: var(--black);
  text-decoration: underline;
}

a:hover {
  color: var(--red);
  text-decoration: underline;
}

.siteHeader {
  background-color: var(--black);
  background-size: cover;
}

.headerImg {
  margin-top: 1.375rem;
  width: 3.5rem;
  height: 2.5rem;
}

.column {
  flex-grow: 0 !important;
}

.header {
  color: var(--white);
  font-size: 1.156rem;
  line-height: 1.5rem;
  align-items: center;
  font-weight: 700;
  margin-top: 22px;
  width: 318px;
}

.subHeader {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.5rem;
  align-items: center;
  font-weight: 700;
  margin-bottom: 1.375rem;
}
