:root {
  --opoRed: #d43c37;
  --opoYellow: #ffb042;
  --opoBlack: #373737;
  --opoDarkgray: #c4c4c4;
  --opoWhiteSmoke: #f3f3f3;
  --opoTeal: #00768f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--opoBlack);
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

h1 {
  color: var(--opoWhiteSmoke);
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

h2 {
  color: var(--opoWhiteSmoke);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.35;
  margin: 0;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1.5rem;
}

a {
  color: var(--opoBlack);
  text-decoration: underline;
}

a:hover {
  color: var(--opoRed);
  text-decoration: underline;
}

.red {
  color: var(--opoRed);
}

.center {
  text-align: center;
}
