.headerOne {
  font-size: 4.688rem;
  font-weight: bold;
  color: var(--opoRed);
  line-height: 1.15;
  text-align: center;
  margin-bottom: 1rem;
}

.headerThree {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--opoBlack);
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.headerFour {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--opoBlack);
  line-height: 1.4;
  text-align: center;
  text-decoration: underline;
}

.quote {
  margin-top: 7.75rem;
  font-size: 2.188rem;
  font-weight: 600;
  color: var(--white);
  line-height: 1.4;
}

blockquote {
  quotes: "\201C""\301E""\2018""\2019";
}

blockquote::before {
  content: open-quote;
  font-size: 4em;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote::after {
  content: close-quote;
}

.quoteSource {
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--white);
}

.rightArrow {
  margin-left: 5px;
}

.imgBackground {
  background-blend-mode: multiply;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 29.688rem;
}

.editorialHeading {
  margin-top: 8.188rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--opoBlack);
  line-height: 2rem;
  text-transform: uppercase;
}

.staticImage {
  margin-top: 4.875rem;
}
.editorialHeadingTwo {
  margin-top: 3.313rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--opoBlack);
  line-height: 2rem;
  text-transform: uppercase;
  height: 12%;
}

.articleHeading {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--opoBlack);
  line-height: 2rem;
  text-transform: uppercase;
}

.editorialText {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--opoBlack);
  line-height: 2.125rem;
  height: 24%;
}

.articleText {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--opoBlack);
  line-height: 2.125rem;
}

.editorialLink {
  margin-top: 2rem;
  font-size: 1.313rem;
  font-weight: 600;
  color: var(--opoBlack);
  line-height: 1.5;
  text-decoration: underline;
}

.iframeMargin {
  margin-top: 7.188rem;
  margin-left: 5.438rem;
  margin-bottom: 3rem;
}

.youtubeLink {
  font-size: 1.313rem;
  font-weight: 600;
  color: var(--opoBlack);
  line-height: 1.5;
  text-decoration: underline;
}

.row h4 {
  margin-top: 3.313rem !important;
  font-size: 1.75rem !important;
  font-weight: 700 !important;
  color: var(--opoBlack) !important;
  line-height: 2rem !important;
  text-transform: uppercase !important;
  height: 15% !important;
}
