.rightArrow {
  margin-left: 5px;
}

.statsSection {
  font-weight: 700 !important;
  text-align: center !important;
}

.statsSection p {
  font-size: 4.688rem;
  color: var(--opoRed);
  line-height: 1.15;
  margin-bottom: 1rem;
}

.statsSection h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.statsSection h5 {
  color: var(--opoBlack);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: underline;
}

.quoteSection figure {
  font-weight: 600;
  line-height: 1.4;
}

.quoteImgBackground {
  background-blend-mode: multiply;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 29.688rem;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #b00e0c;
}

.quoteSection blockquote {
  color: var(--opoWhiteSmoke);
  margin-top: 7.75rem;
  font-size: 2.188rem;
}

blockquote {
  quotes: "\201C""\301E""\2018""\2019";
}

blockquote::before {
  content: open-quote;
  font-size: 4em;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote::after {
  content: close-quote;
}

.quoteSection figcaption {
  color: var(--opoWhiteSmoke);
  font-size: 1.625rem;
}

.quoteSection cite {
  color: var(--opoWhiteSmoke);
}

.videoSection h4 {
  margin-top: 8.188rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--opoBlack);
  line-height: 2rem;
  text-transform: uppercase;
}

.videoText p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--opoBlack);
  line-height: 2.125rem;
}

.videoLink {
  font-size: 1.313rem;
  font-weight: 600;
  color: var(--opoBlack);
  line-height: 1.5;
  text-decoration: underline;
}

.videoMargins {
  margin-top: 7.188rem;
  margin-left: 5.438rem;
  margin-bottom: 3rem;
}

.staticImage {
  margin-top: 4.875rem;
}

.articleRowHeading {
  margin-top: 3.313rem;
  height: 12%;
}

.articleRowHeading h4 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--opoBlack);
  line-height: 2rem;
  text-transform: uppercase;
}

.articleRowText {
  margin-top: 1rem;
  height: 24%;
}

.articleRowText p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--opoBlack);
  line-height: 2.125rem;
}

.articleLink {
  margin-top: 2rem;
  font-size: 1.313rem;
  font-weight: 600;
  color: var(--opoBlack);
  line-height: 1.5;
  text-decoration: underline;
}
