.footer {
  align-items: center;
  background-color: #f7fafc;
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 2rem;
}

.footer > * {
  margin: 1rem;
}

.footer p {
  font-size: 0.9rem;
}

.sources {
  padding: .5rem 1rem;
}

.sectionHeader {
  color: var(--opoRed);
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sources ol {
  font-size: .75rem;
  line-height: 1.5;
  counter-reset: li;
  padding: 0;
  list-style: none;
}

.sources li {
  counter-increment: li;
  display: flex;
  font-size: 1rem;
}

.sources li::before {
  color: var(--opoRed);
  content: counter(li) ". ";
  padding-right: 1rem;
}

@media (max-width: 1100px) {
  .logoWithText > *:nth-child(1) {
    margin-right: 1rem;
  }

  .faqLink {
    position: static;
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .breadcrumb {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }

  .footer p {
    margin: 1rem 0;
  }

  .sources {
    margin: 0rem;
    padding: 1rem;
  }
}
