.social {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.social > * {
  margin: auto;
}

.social p {
  line-height: 2;
  font-size: 1rem;
  margin: auto 0 !important;
}

.icons {
  display: flex;
  flex-grow: 0;
  margin: auto 1rem;
}

.icon {
  fill: var(--opoWhiteSmoke);
  height: 30px !important;
  margin: 0 0.25rem;
  width: 30px !important;
}

.icon:hover {
  cursor: pointer;
}

.icon:active {
  transform: scale(0.85);
}

.copyIcon {
  cursor: pointer;
  fill: #c4c4c4;
}

.copyIcon:hover {
  fill: #fdca82;
}

@media (max-width: 700px) {
  .social {
    margin-bottom: 1rem;
    justify-content: center;
  }

  .icons {
    display: flex;
    flex-grow: 0;
    margin: 0;
    padding-right: 0;
  }
}
