.topBar {
  margin: 2rem 0;
  font-size: 1.15rem;
}

.topBar h2 {
  color: var(--opoBlack);
  font-size: 2rem;
  font-weight: 600;
}

.main {
  margin: 3rem;
}

.main h3 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.main > h3:nth-child(1) {
  width: 60%;
}

.main h4 {
  margin-top: 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main table th {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.main table td {
  font-weight: 700;
  text-align: center;
}

.smallQuote {
  font-weight: 600;
  margin-bottom: 2rem;
}

.smallQuote blockquote,
.smallQuote figure {
  margin: 0 0 0.5rem 0;
}

.smallQuote cite {
  font-style: normal !important;
  font-weight: 500;
  margin-top: 2rem;
}

.steps > * {
  margin-top: 3rem;
}

.steps h3 {
  margin: 0;
}

.step {
  border-radius: 25px;
  height: 100%;
  width: 40px;
  margin-right: 1rem;
}

.step span {
  border-radius: 50%;
  background-color: var(--opoWhiteSmoke);
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 5px;
  text-align: center;
}

.tables {
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.tables > * {
  padding: 0;
}

.tables > *:nth-child(1) {
  margin-right: 1rem;
}

.tables h4 p {
  margin-bottom: 0;
}

.quotes {
  margin-left: 2rem;
  width: 30%;
}

.darkRed {
  background-color: #920303;
}

.lightRed {
  background-color: #d43c37;
}

.yellow {
  background-color: #ffb042;
}

.quoteWithImage {
  margin-bottom: 4rem;
}

@media (max-width: 1100px) {
  .main {
    flex-direction: column;
    width: 100%;
  }

  .topBar {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .stepContainer {
    margin-right: 1rem;
  }

  .quotes {
    margin-top: 2rem;
    width: auto;
  }
}

@media (max-width: 700px) {
  .topBar h2 {
    margin-bottom: 1rem;
  }

  .main table th {
    padding: 5px;
  }

  .main {
    margin: 2rem 1rem;
  }

  .main > h3:nth-child(1) {
    width: 100%;
  }

  .main h4 {
    margin-top: 1rem;
  }

  .quotes {
    padding: 0;
    margin: 2rem 0 0 0;
  }

  .quotes > * {
    margin: 2rem 0;
  }
}
