.headerOne {
  font-size: 4.688rem;
  font-weight: bold;
  color: var(--red);
  line-height: 1.15;
  text-align: center;
  margin-bottom: 1rem;
}

.headerThree {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--black);
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.headerFour {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black);
  line-height: 1.4;
  text-align: center;
  text-decoration: underline;
}

.quote {
  margin-top: 7.75rem;
  font-size: 2.188rem;
  font-weight: 600;
  color: var(--white);
  line-height: 1.4;
}

.quote q::before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quoteSource {
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--white);
}

.rightArrow {
  margin-left: 5px;
}

.imgBackground {
  background-blend-mode: multiply;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 29.688rem;
}

.editorialHeading {
  margin-top: 8.188rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--black);
  line-height: 2rem;
}

.editorialText {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black);
  line-height: 2.125rem;
}

.iframeMargin {
  margin-top: 7.188rem;
  margin-left: 5.438rem;
  margin-bottom: 3rem;
}

.youtubeLink {
  font-size: 1.313rem;
  font-weight: 600;
  color: var(--black);
  line-height: 1.5;
  text-decoration: underline;
}
