.logoWithText {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.logoText {
  margin-left: 1rem;
}

.nav {
  margin: 0 -15px;
  align-items: center;
  flex-direction: row;
  background-color: var(--opoBlack);
  padding: 0.75rem 0;
  white-space: nowrap;
  justify-content: space-between;
}

.navToggle {
  border: none;
  padding: 0;
  margin-right: 1rem;
}

.navCollapse {
  justify-content: flex-end;
  margin-right: 1rem;
}

.navLink {
  color: var(--opoWhiteSmoke) !important;
  font-size: 1rem;
  margin: auto;
  text-decoration: none;
  font-weight: 600;
}

.navLink:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .mobileTitle {
    margin-left: 2.5rem;
    display: contents;
  }

  .mobileTitle h1 {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 8rem;
  }

  .mobileTitle button {
    margin-right: auto;
  }

  .nav {
    padding: 0;
  }

  .navCollapse {
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #000000;
  }

  .navLink {
    padding: 0.2rem !important;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .logoWithText {
    margin: 0 !important;
    margin-right: 2rem;
    text-align: left;
  }

  .logoWithText > *:nth-child(1) {
    display: none;
  }

  .logoText > *:nth-child(2) {
    font-size: 0.8rem;
  }

  .logoText > *:nth-child(1) {
    font-size: 0.8rem;
  }

  .logoText {
    margin: 0 !important;
  }

  .mobileTitle {
    margin-left: 2.5rem;
    display: contents;
  }

  .mobileTitle h1 {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 0;
  }

  .nav {
    padding: 0;
  }

  .navCollapse {
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #000000;
  }

  .navLink {
    padding: 0.2rem !important;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 800px) {
  .mobileTitle h1 {
    display: none !important;
  }
}
