.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: var(--opoBlack);
  padding: 0.75rem 0;
  white-space: nowrap;
}

.logoWithText {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.logoText {
  margin-left: 1rem;
}

.nav {
  margin: auto;
}

.navLink {
  color: var(--opoWhiteSmoke) !important;
  font-size: 1rem;
  margin: auto;
  text-decoration: underline;
}

.navToggle {
  border-color: var(--opoWhiteSmoke) !important;
}

@media (max-width: 1100px) {
  .nav {
    margin-left: initial;
  }
}

@media (max-width: 700px) {
  .logoWithText {
    margin: 0 !important;
    margin-right: 2rem;
    text-align: left;
  }

  .logoWithText > *:nth-child(1) {
    display: none;
  }

  .logoText {
    margin: 0 !important;
  }

  .nav {
    margin: auto;
  }

  .navLink {
    padding: 0.2rem !important;
    margin: 0 !important;
  }
}
