.footerContainer {
  background-color: #f3f3f3;
}

.footer {
  margin: 3rem;
}

.footer h2 {
  color: var(--opoRed);
  font-weight: 800;
  text-transform: uppercase;
}

.footerContent {
  margin-top: 3rem;
} 

.footerContent p:nth-child(2) {
  margin-top: 2rem;
}

.footerIcons {
  align-items: center;
}

.footerIcons a {
  margin: 0 1rem;
}

.footerIcons a:first-child {
  margin-left: 0;
}

.footerCopyright {
  justify-content: right;
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-right: 3rem;
}

@media (max-width: 900px) {
  .footer {
    flex-flow: column;
    height: unset;
    justify-content: flex-start;
  }

  .icon {
    margin-bottom: 2rem;
  }

  .footerIcons {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 3rem;
  }

  .bloom {
    margin-right: 0.5rem;
    margin-left: -1rem;
  }
}
