.background {
  background-color: #b00e0c;
  width: 100%;
}

.background::after {
  mix-blend-mode: multiply;
}

.quote {
  color: var(--opoWhiteSmoke);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  padding: 4rem 0;
}

.quote blockquote {
  text-indent: -3em;
  quotes: "\201C""\301E""\2018""\2019";
}

.quote blockquote::before {
  content: open-quote;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4em;
  line-height: 0.005em;
  margin-right: 0.25em;
  vertical-align: -0.45em;
}

.quote blockquote::after {
  content: close-quote;
}

@media (max-width: 700px) {
  .quote {
    padding: 2.5rem;
  }

  .quote blockquote {
    text-indent: -1.5em;
  }

  .quote blockquote::before {
    font-size: 2.5em;
    margin-right: 0.1em;
    vertical-align: -0.35em;
  }
}
