.legend {
  background-color: white;
  border-radius: 4px;
  height: 135px;
  right: 50px;
  padding: 1rem 1.5rem;
  z-index: 1000;
}


.legend h3 {
  font-size: 1rem;
  font-weight: 550;
  text-transform: none;
}

.legendItem {
  font-size: 1rem !important;
  margin-bottom: 0.25rem;
  margin-left: 1rem !important;
  justify-content: center;
}

.legendItemText {
  color: var(--opoBlack);
}

.map {
  justify-content: center;
}

.mapContainer {
  background-color: white;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tooltip {
  width: 12rem;
  overflow-wrap: break-word;
  padding: 1rem;
}
.tooltip h4 {
  margin-top: 0;
  word-wrap: break-word;
  white-space: normal;
}
.tooltip p {
  margin: 0;
  margin-bottom: 0.5rem;
  word-break: break-word;
  white-space: normal;
}

.closeModal {
  border: 0;
  background-color: transparent;
  opacity: 0.6;
}

.closeModal:hover {
  opacity: 1;
}

.opoLabel {
  box-shadow: none !important;
  background: #000000bf !important;
  color: #ffffff;
  padding: 4px;
  border: none !important;
  font-size: 10px;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .closeModal {
    opacity: 0.8;
  }
}

@media (max-width: 700px) {
  .legend {
    height: 115px;
    right: 50px;
    padding: 0.5rem;
    top: calc(72vh);
    width: 175px;
  }

  .legend h3 {
    margin: 0.1rem 0;
  }

  .legendTier {
    margin-bottom: 0.05rem;
  }

  .popout {
    max-width: 75%;
    padding: 1rem 2rem;
  }
}
