.legend {
  background-color: white;
  border-radius: 4px;
  height: 135px;
  right: 50px;
  padding: 1rem 1.5rem;
  position: absolute;
  top: calc(55vh - 40px);
  width: 200px;
  z-index: 1000;
}

.legend > * {
  justify-content: center;
}

.legend h3 {
  font-size: 1rem;
  font-weight: 550;
  text-transform: none;
}

.legendTier {
  font-size: 1rem !important;
  margin-bottom: 0.25rem;
}

.popout {
  background-color: white;
  border-top: 12px solid var(--opoBlack);
  border-radius: 4px;
  font-size: 1rem;
  left: 0;
  max-width: 330px;
  padding: 1rem 3rem;
  position: absolute;
  margin-top: 2rem;
  z-index: 1001;
}

.popout > *:nth-last-child(1) {
  margin-top: 1rem;
}

.popout h3 {
  font-size: 1.5rem;
  font-weight: 550;
  margin: 0;
  text-transform: none;
}

.popout h4 {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.popout h5 {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: var(--opoBlack);
  text-transform: uppercase;
}

.popoutTier {
  font-size: 0.9rem !important;
}

.popoutTier > * {
  padding-left: 0 !important;
}

.popoutHeader {
  justify-content: space-between;
}

.map {
  justify-content: center;
}

.mapContainer {
  background-color: white;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tooltip {
  width: 12rem;
  overflow-wrap: break-word;
  padding: 1rem;
}
.tooltip h4 {
  margin-top: 0;
}
.tooltip p {
  margin: 0;
  margin-bottom: 0.5rem;
  word-break: break-word;
  white-space: normal;
}

.closeModal {
  border: 0;
  background-color: transparent;
  opacity: 0.6;
}

.closeModal:hover {
  opacity: 1;
}

.opoLabel {
  box-shadow: none;
  background: none;
  border: none;
  font-size: 10px;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .closeModal {
    opacity: 0.8;
  }
}

@media (max-width: 700px) {
  .legend {
    height: 115px;
    right: 50px;
    padding: 0.5rem;
    top: calc(72vh);
    width: 175px;
  }

  .legend h3 {
    margin: 0.1rem 0;
  }

  .legendTier {
    margin-bottom: 0.05rem;
  }

  .popout {
    max-width: 75%;
    padding: 1rem 2rem;
  }
}
