.opoTable {
  margin-bottom: 2rem;
}

.opoTable h3 {
  font-size: 1.25rem;
  text-transform: none !important;
}

.opoTable h4 {
  font-size: 0.85rem;
}

.opoTable th {
  font-size: 1rem;
  font-weight: 700;
  border: none !important;
  text-decoration: none;
}

.opoTable th p {
  max-width: 15rem;
}

.opoTable td {
  font-size: 1rem;
  border: none !important;
  padding: 2rem .75rem !important;
}

.opoTable tbody tr .shadows {
  color: var(--opoRed);
  font-weight: 700;
}

.tableCaption {
  font-size: .875;
  line-height: 1.5;
  margin-left: 0;
}

.tierCol {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0.75rem !important;
}

.tierCol > * {
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.chevron {
  margin-left: 4px;
  align-self: flex-end;
}

.chevron .up {
  margin-bottom: 4px;
}

th p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.header p {
  line-height: 1.5rem;
}

.header a {
  font-size: .6rem;
  vertical-align: super;
}

@media (max-width: 700px) {
  .opoTable table {
    display: inline-block;
    width: 90vw;
    overflow: auto;
  }
}
