.opoTable {
  padding-bottom: 4rem;
}

.opoTable h3 {
  font-size: 1.25rem;
}

.opoTable h4 {
  font-size: 0.85rem;
}

.opoTable th {
  font-size: 0.85rem;
  font-weight: 700;
  border: none !important;
  text-decoration: none;
}

.opoTable td {
  font-size: 1rem;
  border: none !important;
  padding: 2rem 0.5rem !important;
}

.opoTable tbody tr .shadows {
  background-color: rgba(212, 60, 55, 0.2);
  border-right: solid 0.25rem !important;
  border-left: solid 0.25rem !important;
  color: var(--opoRed);
  font-weight: 700;
  text-align: center;
}

.opoTable tbody tr:nth-child(1) .shadows {
  border-top: solid 0.25rem var(--opoRed) !important;
}

.opoTable tbody tr:nth-last-child(1) .shadows {
  border-bottom: solid 0.25rem var(--opoRed) !important;
}

.tierCol {
  display: flex;
  flex-wrap: nowrap;
}

.tierCol > * {
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.chevron {
  margin-left: 4px;
}

.chevron .up {
  margin-bottom: 4px;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
}

@media (max-width: 700px) {
  .opoTable table {
    display: inline-block;
    width: 90vw;
    overflow: auto;
  }
}
